body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
  background-color:  #FFFFFF;
}

:root {
  --main-tittle-color: #fff;
  --main-text-color: #2e2f42;
  --
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  
}

/* --------------Header-------------- */

.header {
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo-one {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-two {
color: #2e2f42;
margin-right: 75px;

}
.header-items-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: var(--main-text-color);
}

.header-items-link:hover,
.header-items-link:focus {
  color: #404bbf;
}

.header-list {
  display: flex;
  gap: 40px;
}
.header-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}


.header-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-mail:hover,
.header-mail:focus {
  color: #404bbf;
}

.header-adress {
  font-style: normal;
}

.header-flex {
  display: flex;
gap: 40px;
margin-left:330px;
}


/* --------------Hero-------------- */

.hero-section {
  background-color:  #2e2f42;
display: flex;
justify-content: center;
align-items: center;
flex-grow: 1;
padding-top: 190px;
padding-bottom:290px;
}

.hero-tittle {

  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

}
.hero-btn {
  padding: 16px 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-tittle-color);
  cursor: pointer;
  background-color: #4D5AE5;
  display:block;
Margin: 0 auto;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF;
}

/* --------------About-------------- */

.about-section {
padding-top:120px;

}

.about-hidden {
  visibility: hidden;
}

.about-list {
  display: flex;
  gap:24px;
}
.about-item {
}
.about-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about-decription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* --------------Examples-------------- */
.examples {
  background-color: #ffffff;
  padding-bottom: 120px;

}
.examples-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom:70px;
}
.examples-list {
  display: flex;
  gap:24px;
}
.example_p {
  font-size: 16px;
}
.examples-items {
  background-color: #FFFFFF;

/* --------------Team-------------- */
.team {
  justify-content: center;
  display: flex;
    padding-top: 110px;
    background-color: #F4F4FD;
    padding-bottom: 120px;
}
}
.team-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  }
.team-list {
  display: flex;
  gap:24px;
}
.team-items {
  background-color: #FFFFFF;
}
/* --------------Footer----------- */
.footer {
  background: #2E2F42;
  padding: 100px 185px 100px;
}
}

.footer-logo-two {
  color: #f4f4fd;
}

.footer-decription {
  padding-top: 20px;
  color: #f4f4fd;
  width: 264px;
height: 72px;
}

/* --------------H-------------- */

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

/*-------PORTFOLIO------------*/

.portfolio-section {
}
.portfolio-tittle {

}

.list-btn {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-bottom: 70px;

}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #F4F4FD ;
  cursor: pointer;
  border: 1px solid #E7E9FC;
border-radius: 4px;
padding: 12px 24px;

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #F4F4FD;
  background-color: #404BBF;
}

.portfolio-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:  #2e2f42;

}

.portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  
}


.portfolio-photo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}